<div class="modal-header">
    <h3>Rights Management for the Enterprise {{company.name}}</h3>
</div>
<div class="modal-body">

    <table class="table table-condensed">
        <tr>
            <th>User</th>
            <th>No right</th>
            <th>Right of reading</th>
            <th>Right of writing</th>
            <th>Administration right</th>
        </tr>
        <tr ng-repeat="user in company.users">
            <td>{{user.firstname}} {{user.lastname}}</td>
            <td><input type="radio" name="userRights{{user.id}}" ng-model="user.companytouser.rightsLevel" value="0" /></td>
            <td><input type="radio" name="userRights{{user.id}}" ng-model="user.companytouser.rightsLevel" value="1" /></td>
            <td><input type="radio" name="userRights{{user.id}}" ng-model="user.companytouser.rightsLevel" value="2" /></td>
            <td><input type="radio" name="userRights{{user.id}}" ng-model="user.companytouser.rightsLevel" value="3" /></td>
        </tr>
    </table>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>